.:53 {
    log
    errors
    file /etc/coredns/db.reverse    ${BM_CIDR_OCTET3}.${BM_CIDR_OCTET2}.${BM_CIDR_OCTET1}.in-addr.arpa
    forward . ${EXT_DNS_IP}  
}

${CLUSTER_DOMAIN}:53 {
    log
    errors
    file /etc/coredns/db.zone
    debug
}

