#disable dns
port=0

interface=baremetal
bind-interfaces

strict-order
except-interface=lo

domain=${CLUSTER_NAME}.${CLUSTER_DOMAIN},10.0.1.0/24

dhcp-range=10.0.1.10,10.0.1.250,30m
#default gateway
dhcp-option=3,${BM_GW_IP}
#dns server
dhcp-option=6,${DNS_IP}
#search domain
dhcp-option=24,${CLUSTER_NAME}.${CLUSTER_DOMAIN}
log-queries
log-dhcp

dhcp-no-override
dhcp-authoritative

dhcp-hostsfile=/etc/dnsmasq.d/dnsmasq.hostsfile
dhcp-leasefile=/var/run/dnsmasq/dnsmasq.leasefile
log-facility=/var/run/dnsmasq/dnsmasq.log

