#disable dns
port=0

interface=${BM_BRIDGE}
bind-interfaces

strict-order
except-interface=lo

domain=${CLUSTER_NAME}.${CLUSTER_DOMAIN},${BM_CIDR}

dhcp-range=${BM_CIDR_PREFIX}.10,${BM_CIDR_PREFIX}.250,30m
#default gateway
dhcp-option=3,${BM_GW_IP}
#dns server
dhcp-option=6,${DNS_IP}
#search domain
dhcp-option=24,${CLUSTER_NAME}.${CLUSTER_DOMAIN}
log-queries
log-dhcp

dhcp-no-override
dhcp-authoritative

dhcp-hostsfile=/etc/dnsmasq.d/dnsmasq.hostsfile
dhcp-leasefile=/var/run/dnsmasq/dnsmasq.leasefile
log-facility=/var/run/dnsmasq/dnsmasq.log

